.body{
    background-color: #87ACC5;
}
.header{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.main{
    padding-top: 70px;
}
.logo{
    width: 35px;
}
.btn btn-secondary dropdown-toggle{
    background-color: #258022;
}